/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}













/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}












/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {

    .clip-image-content{
        padding : 130px 0 0 30px;
    }







    .hero-icons i{
        margin-left: 15px;
        font-size: 36px;

    }

    .hero-card-form{
        float: none;
    }

    .transition-content{
        padding-left: 34px;
    }

    .standard-picture-image img{
        width: 350px;
    }
    .subsection-image img{
        width: 350px
    }

    .transition-content h3{
        margin-bottom: 20px;
    }
    .transition-content p{
        margin-bottom: 20px;
    }

    .transition-image{
        margin-top:100px;
    }

    .transition-list-wrap{
        padding-top: 100px;
    padding-bottom: 90px;
    }

    .transition-list-button-selected,.transition-list-button-mouseover{
       height: 100px;
       width: 100px;
    padding:40px 0 0 0;
       text-align: center;
    }

}














/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .hero-icons i{
        margin-left: 30px;
        font-size: 42px;
    }

    .standard-picture-image img{
        width: 450px;
    }
    .subsection-image img{
        width: 450px
    }

    .transition-content{
        padding:0 30px;
    }

    .transition-list-wrap .col-lg-4{
        padding: 0;
    }

    .transition-list-button-selected,.transition-list-button-mouseover{
        height: 100px;
        width: 100px;
        /* padding: 30px; */
        font-size: 10px;
    }

    .transition-list ul{
        padding: 0 0 0 0;
    }

    .hero-card-form{
        float: none;
    }




}















/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1330px) {
    .container-clip-image h1{
        margin-bottom: 72px;
        font-size: 32px;
    }
    .clip-image-content p{
        margin-bottom: 36px;
    }

    .clip-image-content p{
        font-size: 14px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1330px){
    
}



