.navbar {
  background-color: black;
  height: 70px;
  padding: 22px 150px;
}

.navbar-collapse {
  background-color: black;
}
.navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.69);
}

.navbar-nav .nav-item a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.clip-image::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.clip-image {
  /* top: -2px;
    left: 0px; */
  /* width: 1400px;
    height: 713px; */
  position: relative;
  height: calc(100vh - 70px);
  background-image: url("../assets/images/Clip@2x.png");
  /* opacity: 1; */
  background-position: cover;
  background-repeat: no-repeat;
  /* content: ""; */
}

.container-clip-image pre {
  color: white;
  margin-bottom: 72px;
  padding-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}

.clip-image-content {
  padding-left: 147px;
  padding-top: 180px;
}

.clip-image-content p::before {
  content: "";
  height: 10px;
  min-width: 84px;
  /* z-index: 2; */
  /* transform: translate(50%,50%); */
  /* right:50%; */
  /* bottom: 0; */
  left: 0;
  top: -51px;
  /* bottom: 24px; */
  /* bottom: 50%; */
  position: absolute;
  background-image: url("../assets/images/divider_white_u72.png") !important;
}

.clip-image-content p {
  position: relative;
  font-family: "Raleway-Light", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0.8;
  margin-bottom: 54px;
}

.clip-image-content button {
  height: 42px;
  width: 135px;
}

.hero-card-form {
  /* display: flex   ; */
  margin-top: 210px;
  float: right;
}

.card-form-text {
  position: relative;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center ; */
  text-align: center;
  /* backface-visibility: visible; */
  /* content: "aaaaaaaaaaaaa"; */
  background-image: url("../assets/images/card_header_u257.png");
  height: 54px;
  width: 360px;
  z-index: 5;
}

.card-form-text p {
  /* left: -52px; */
  /* top: -13px; */
  /* right: -61px; */
  /* bottom: -14px; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(0,-50%); */
  margin-top: 13px;
  margin-bottom: 14px;
  width: 100%;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.card-form-text span {
  color: #ff8b38;
}

.hero-form {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
    margin-right: 149px;
  /* display: flex; */
  /* position: absolute; */
  background-image: url("../assets/images/background_form_u39.png");
  width: 360px;
  height: 327px;
  margin-top: -7px;
  /* width: 380px; */
  /* background-position: center; */
}

.hero-form input {
  padding: 14px;
}

.form-group {
  margin: 0;
  padding: 0;
}

.hero-form-element-input {
  box-shadow: 0px 1px 0px #00000029;
  margin-top: 34px;
  margin-bottom: 32px;
  width: 287px;
  height: 35px;

border-width: 1px 0px 1px 0px;
  /* border-color: transparent; */
  background-image: url("../assets/images/name_input_container_u1914.png");
}
.hero-form-element-email {
  box-shadow: 0px 1px 0px #00000029;
  border-width: 0px 1px 1px 1px;
  /* margin: 0; */
  /* padding:0; */
  /* background-image: url("../assets/images/name_input_container_u1915.png"); */
  /* border-color: transparent; */
  margin-bottom: 42px;
  height: 35px;
  width: 287px;
}
.hero-form-element-password {
  box-shadow: 0px 1px 0px #00000029;
  border-width: 1px 0px 1px 0px;
  /* margin: 0; */
  /* padding:0; */
  background-image: url("../assets/images/name_input_container_u1916.png");
  /* border-color: transparent; */
  height: 35px;
  width: 287px;
}

.hero-form-button{
    /* margin-bottom: 27px; */
    padding-top: 14px;
    bottom:0;
    left: 0;
    position: absolute;
    width: 360px;
    height: 54px;
    background-color: #FF8B38;
}


.hero-form-button span{
    /* position: relative;
    bottom: 0; */
    text-align: center;
    margin-top: 34px;
    color:white;
    text-decoration: none;
}
.hero-form-button span:hover{
    text-decoration: none;
}