header{
  top: 0;
  position: sticky;
  z-index: 35;
}

.navbar {
  background-color: black;
  height: 70px;
  padding: 22px 150px;
  position: sticky;
}

.navbar-collapse {
  background-color: black;
}
.navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.69);
}

.navbar-nav .nav-item a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.clip-image::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.clip-image {
  /* top: -2px;
    left: 0px; */
  /* width: 1400px;
    height: 713px; */
  position: relative;
  height: calc(100vh - 70px);
  background-image: url("../assets/images/Clip@2x.png");
  /* opacity: 1; */
  background-position: cover;
  background-repeat: no-repeat;
  /* content: ""; */
}

.container-clip-image pre {
  color: white;
  margin-bottom: 72px;
  padding-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}

.clip-image-content {
  padding-left: 147px;
  padding-top: 180px;
}

.clip-image-content p::before {
  content: "";
  height: 10px;
  min-width: 84px;
  /* z-index: 2; */
  /* transform: translate(50%,50%); */
  /* right:50%; */
  /* bottom: 0; */
  left: 0;
  top: -51px;
  /* bottom: 24px; */
  /* bottom: 50%; */
  position: absolute;
  background-image: url("../assets/images/divider_white_u72.png") !important;
}

.clip-image-content p {
  position: relative;
  font-family: "Raleway-Light", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0.8;
  margin-bottom: 54px;
}

.clip-image-content button {
  height: 42px;
  width: 135px;
}

.hero-card-form {
  /* display: flex   ; */
  margin-top: 210px;
  float: right;
}

.card-form-text {
  position: relative;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center ; */
  text-align: center;
  /* backface-visibility: visible; */
  /* content: "aaaaaaaaaaaaa"; */
  background-image: url("../assets/images/card_header_u257.png");
  height: 54px;
  width: 360px;
  z-index: 5;
}

.card-form-text p {
  /* left: -52px; */
  /* top: -13px; */
  /* right: -61px; */
  /* bottom: -14px; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(0,-50%); */
  margin-top: 13px;
  margin-bottom: 14px;
  width: 100%;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.card-form-text span {
  color: #ff8b38;
}

.hero-form {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-right: 149px;
  /* display: flex; */
  /* position: absolute; */
  background-image: url("../assets/images/background_form_u39.png");
  width: 360px;
  height: 327px;
  margin-top: -7px;
  /* width: 380px; */
  /* background-position: center; */
}

.hero-form input {
  padding: 14px;
}

.form-group {
  margin: 0;
  padding: 0;
}

.hero-form-element-input {
  box-shadow: 0px 1px 0px #00000029;
  margin-top: 34px;
  margin-bottom: 32px;
  width: 287px;
  height: 35px;

  border-width: 1px 0px 1px 0px;
  /* border-color: transparent; */
  background-image: url("../assets/images/name_input_container_u1914.png");
}
.hero-form-element-email {
  box-shadow: 0px 1px 0px #00000029;
  border-width: 0px 1px 1px 1px;
  /* margin: 0; */
  /* padding:0; */
  /* background-image: url("../assets/images/name_input_container_u1915.png"); */
  /* border-color: transparent; */
  margin-bottom: 42px;
  height: 35px;
  width: 287px;
}
.hero-form-element-password {
  box-shadow: 0px 1px 0px #00000029;
  border-width: 1px 0px 1px 0px;
  /* margin: 0; */
  /* padding:0; */
  background-image: url("../assets/images/name_input_container_u1916.png");
  /* border-color: transparent; */
  height: 35px;
  width: 287px;
}

.hero-form-button {
  /* margin-bottom: 27px; */
  padding-top: 14px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 360px;
  height: 54px;
  background-color: #ff8b38;
}

.hero-form-button span {
  /* position: relative;
    bottom: 0; */
  text-align: center;
  margin-top: 34px;
  color: white;
  text-decoration: none;
}
.hero-form-button span:hover {
  text-decoration: none;
}

.social-media-content {
  margin-top: 17px;
}
.social-media-content h3 {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}
.social-media-content p {
  font-family: "Open Sans", sans-serif;
  color: #86878b;
}
.hero-icons {
  float: right;
  margin-top: 30px;
}
.hero-icons i {
  margin-left: 42px;
  color: #86878b;
  /* content: ""; */
  font-size: 48px;
}

.transition-list-wrap {
  padding-top: 146px;
  padding-bottom: 113px;

  background-color: #f5f5f5;
}
.transition-list {
}
.transition-list-button-selected {
  font-family: "Open Sans", sans-serif;
  padding: 46px 37px 48px 36px;
  font-size: 15px;
  list-style-type: none;
  color: #ffffff;
  background-image: url("../assets/images/tab_1_button_u83_selected@2x.png");
  background-repeat: no-repeat;
  background-position: center;
}
.transition-list-button-mouseover {
  font-family: "Open Sans", sans-serif;
  padding: 46px 37px 48px 36px;
  font-size: 15px;
  list-style-type: none;
  color: #ffffff;
  background-image: url("../assets/images/tab_2_button_u85_mouseover@2x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.transition-list a {
  text-decoration: none;
  color: white;
}
.transition-list a:hover {
  text-decoration: none;
  color: whitesmoke;
}

.transition-content {
  padding-left: 68px;
}

.transition-content h3 {
  margin-bottom: 47px;
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  color: #000000;
  font-size: 20px;
}

.transition-content p {
  margin-bottom: 47px;
  color: #86878b;
  font-size: 14px;
}

.transition-content button {
  background-image: url("../assets/images/btn_primary_u98@2x.png");
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  height: 48px;
  border-width: 0px;
  width: 123px;
  font-size: 15px;
  color: white;
}
.transition-image {
  float: right;
}

.sub-list-section {
  padding-bottom: 133px;
  padding-top: 102px;
}

.subsection-content {
  float: right;
  margin-left: 100px;
}

.subsection-image {
  float: right;
  /* margin-right: 143px; */
}

.subsection-content h3 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 52px;
}

.subsection-content-paragraph {
  position: relative;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #86878b;
  opacity: 0.6;
  margin-bottom: 46px;
}

.subsection-content-paragraph::before {
  position: absolute;
  background-image: url("../assets/images/divider_orange_u74.png");
  content: "";
  height: 2px;
  min-width: 64px;
  left: 0;
  top: -26px;
}

.subsection-title img {
  height: 40px;
  width: 40px;
  margin-right: 30px;
}
.subsection-title {
  display: inline-flex;
}
.subsection-title-title h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
}

.subsection-title-title p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #86878b;
  opacity: 1;
}

.subsection-block {
  display: block;
}



.standard-picture-section{
  background-color: #F5F5F5;
  padding-top: 102px;
  padding-bottom: 60px;
}
.standard-picture-section h5 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #212121;
  margin-bottom: 54px;
}



.standard-picture-paragraph::before {
 left: 0;
 top: -26px;
  position: absolute;
  background-image: url("../assets/images/divider_orange_u74.png");
  content: "";
  min-width: 64px;
  height: 2px;

}
.standard-picture-paragraph {
  position: relative;
  color: #86878b;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.standard-picture-section p{
  
  color: #86878b;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}





.sidebar{
  visibility: visible;
  display: block;
  height: 100vh;
  width: 350px;
  z-index: 100;
  position: fixed;
  top:0;
  right:-350px;
  /* overflow-y: scroll; */
  transition: 0.5s all ease;

}

.sidebar-list{
  background-color:white;
  padding: 25px 15px;
  height: calc(100vh - 250px);
  overflow-y: auto  ;
}

.sidebar-list ul{
  /* overflow-y: scroll; */
}

.sidebar-list li{
  list-style-type: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  
}
.sidebar-background h3{
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: white;
  padding: 30px 25px 0px 45px;

}

.sidebar-background{
  background-image: url("../assets/images/image_right_standard_u262.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 170px;
}

.sidebar-background i{
  color: white;
  font-size: 35px;
  padding: 15px;
}
.sidebar-background i:hover{
  color: rgba(255, 255, 255, 0.69);
}

.sidebar-bottom{
  width :350px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  right: 0;
  height: 100px;
  background-color: whitesmoke;
}

.sidebar-button{
  color:  rgba(255, 255, 255, 0.69);
}

.sidebar-button:hover{
  color:  rgba(255, 255, 255, 1);
}

.body-wrapper::before{
  background-color: rgba(0, 0, 0,0.6);
  position: absolute;
  content: "";
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 70;
}
.body-wrapper{
  z-index: 70;
  position: relative;
  overflow: hidden;
}

.awesomepage-title h2{
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #212121;
  margin-bottom: 50px;
}

.awesomepage-title p::before{
  background-image: url("../assets/images/divider_orange_u74.png");
  position: absolute;
  content: '';
  min-width: 64px;
  height: 2px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0);
  top :-26px;

}

.awesome-page{
  padding-top: 100px;
  padding-bottom: 102px;
}

.awesomepage-title p{
  position: relative;
  color:#86878B;
  font-size:14px;
  margin-bottom: 80px;

}

.awesomepage-content{
  text-align: center;
}

.awesomepage-content h3{
  color: #333333;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;


}
.awesomepage-content p{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #86878B;

}

.awesomepage-content img{
  margin-bottom: 24px;
}

.stylish-axure{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
}
.stylish-axure{
  position: relative;
  background-image: url('../assets/images/u25_state0.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 67px;
}

.stylish-axure-content h3{
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  /* font-weight: bold; */
  color: #FFFFFF;
  margin-bottom: 50px;
}

.stylish-axure-content p::before{
  position: absolute;
  background-image: url("../assets/images/divider_white_u72.png");
  /* text-align: center; */
  content:"";
  height: 9px;
  width: 70px;
  top: -34px;
  left: 50%;
  transform: translate(-50%,0);


}
.stylish-axure-content p{
  position: relative;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  /* font-weight: bold; */
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 50px;
}

.contactus-component{
  padding-top: 100px;
  padding-bottom: 80px;
}

.contactus-content{
  text-align: center;
}

.contactus-content h3{
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  /* font-weight: bold; */
  color: #212121;
  margin-bottom: 50px;
}

.contactus-content p::before{
  background-image: url("../assets/images/divider_orange_u74.png");
  position: absolute;
  height: 2px;
  width:50px;
  top: -26px;
  left:50%;
  transform: translate(-50%,0);
  content: "";
}
.contactus-content p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #86878B;
  position: relative;
  margin-bottom: 78px;
} 

.contactus-component input{
  margin-bottom:26px;
  margin-right: 63px;
} 
.contactus-component button{
  margin-top: 20px;
  background-image: url("../assets/images/btn_primary_u98@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 15px;
}

footer{
  text-align: center;
  background-color: #000000;
  padding-top: 21px;

}
.footer-content{
  font-size: 24px;
  color: #CCCCCC;
  padding-bottom: 10px;

}
.footer-content i{
  margin-left: 16px;
}

footer p{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.5;
}