/* @media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    
}
@media only screen and (min-width: 768px) and (max-width:991px) {

}
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .hero-image-container {
        height: 500px;
        width: 100%;
        background-position: center;
        
        background-size: cover;
      }
}
@media only screen and (min-width: 1200px){

} */















@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
  .hero-image-container {
    min-height: 500px;
    width: 100%;
    background-position: top;
    
    background-size: cover;
  }
  
  .quote-section{
      padding-top: 60px;
  }
}

@media only screen and (max-width: 992px) {
    .hero-image-container {
        min-height: 400px;
        width: 100%;
        background-position: top;
        
        background-size: cover;
      }
      
      .featured-products p{
          font-size: 16px;
      }
      .special-products p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {


    .grid-sizer{
        width: 42%;
    }

    .grid-content{
        width: 100%!important;
    }

    .grid-item{
        width: 45%;
    }
    .gutter-sizer{
        width: 10%;
    }

    .grid-item-2{
        margin-top: 0%;
    }








    .hero-image-container {
        min-height: 300px;
        width: 100%;
        background-position: top;
        
        background-size: cover;
      }

      .form-info-content{
          text-align: center;
          margin-bottom: 24px;
      }

      .form-info-content h3{
          font-size: 20px;
      }
      .form-info-content p{
        font-size: 12px;
    }

    .form-info-button{
        height: 35px;
        width: 100px;
        font-size: 12px;
    }

    .form-info-form{
        text-align: center;
    }

    .form-info-form h3{
        font-size: 20px;
    }

    .form-info-form input{
        font-size: 16px;
    }

    .grid-tags-wrapper{
        font-size: 12px;
        padding: 6px 9px;
    }

  
    .grid-tags{
        padding: 6px 9px;
    }
    .grid-tags-special {
        padding: 10px 15px;
        font-size: 12px;
    }

    .featured-products{
        padding: 40px 0px 40px 30px;
    }
    .special-products{
        padding: 40px 0px 40px 30px;
    }

    .featured-products h2{
        font-size: 22px;
    }
    .featured-products p{
        font-size: 14px;
    }

    .special-products h2{
        font-size: 22px;
    }
    .special-products p{
        font-size: 14px;
    }

    .quote-content p{
        font-size: 16px;
    }

    footer{
        font-size: 14px;
    }
  
}

@media only screen and (max-width: 567px) {
    .featured-products {
        padding: 40px 0px 40px 10px;
    }
    .special-products {
        padding: 40px 0px 40px 10px;
    }

    .hero-image h1{
        font-size: 36px;
    }

    .grid-sizer{
        width: 42%;
    }

    .grid-content{
        width: 100%!important;
    }

    .grid-item{
        width: 45%;
    }
    .gutter-sizer{
        width: 10%;
    }

    .grid-item-2{
        margin-top: 0%;
    }

    .quote-content p {
        font-size: 12px;
    }

    .quote-content h3 {
        margin-top: 20px;
    }
    .quote-section {
        padding: 60px 15px;
    }


    .grid-tags-wrapper {
        font-size: 9px;
        padding: 5px 5px;
    }
    .grid-tags {
        padding: 6px 6px;
    }

    .grid-tags-special {
        padding: 6px 6px;
        font-size: 11px;
    }


} 
