
@media only screen and (min-width: 1200px) {
    html {
        font-size: 1.6rem;
      }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 1.5rem;
      }

      .news{
        margin-bottom: 22rem;
    }
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 1.4rem;
      }

      .section-class {
        background-color: white;
        padding-top: 4rem;
    }

    .about-content {
        padding-bottom: 2rem;
    }

    .misc h1 {
        padding-top: 1rem;
        margin-bottom: 0;
    }

    .work-nav {
        text-align: left!important;
        padding: 0px;
    }
    .grid-item, .grid-sizer {
        margin-bottom: 25px;
        width: 48.1%;
        float: left;
    }

    .team-large-text{
        font-size: 2rem;
    }

    .news-image{
        margin-bottom: 1rem;
    }
    .news{
        margin-bottom: 25rem;
    }


    .about-image-wrapper{
        position: unset;
    }

    .about-image::before{
       content: none;
    }
    .about-image{
        position: unset;
        animation: unset;
    }

    .news-content {
        padding-left: 0rem;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 1.2rem;
      }

      .hero-large-text {
        font-size: 4.5rem;
    }

      .grid-item {
        margin-bottom: 25px;
        width: 100%;
        float: left;
    }
    .grid-sizer{
        width: 100%;
    }

    .footer-para {
        letter-spacing: 0rem;
    }

}


@media only screen and (max-width: 575px){ 
    .section-class {
        /* background-color: white; */
        padding-top: 2rem;
    }
    .team{
        padding: 4rem 0rem;
    }
    .team-large-text {
        font-size: 1.5rem;
    }

    .hero-large-text {
        font-size: 3rem;
    }

    .about-studio-para {
        font-size: 0.7em;
    }

    .about-content {
        padding-bottom: 0rem;
    }

    .estrada-header {
        margin-bottom: 1rem;
        /* position: relative; */
        /* font-family: 'Teko', sans-serif; */
        font-size: 1.5rem;
        /* font-weight: 400; */
    }
    .misc h1 {
        padding-top: 0rem;
        margin-bottom: 0;
    }
    .misc{
        text-align: center;
    }

    .about-image{
        display: none;
    }
    .grid-item {
        margin-bottom: 25px;
        width: 100%;
        float: left;
    }
    .grid-sizer{
        width: 100%;
    }
    
    .footer-card{
        text-align: center;
    }

    .estrada-footer {
        position: unset;
        z-index: none;
        /* height: fit-content; */
        width: 100%;
        /* bottom: 0; */
    }

    .news{
        margin-bottom: 1rem;
    }

    .footer-card h3{
        margin-bottom: 0%;
    }

    .footer-card::before{
        position: absolute;
        height: 1px;
        width: 30%;
        content: '';
        background-color: #ea6651;
        bottom: -0.7rem;
    transform: translateX(-50%);
    }
    .footer-card{
        position: relative;
        margin-bottom: 1.4rem;
    }

    .footer-upper-pre::before {
      content: none;
    }
    .footer-upper-pre {
        position: unset;
        margin-bottom: 0rem;
    }

    .footer-button {
        margin: 0;
        float: none!important;
        margin:  0.5rem 0 1rem 0;
        /* position: relative!important; */
        background-color: #ea6651;
        color: white;
        border: 1px #ea6651;
        font-size: 0.8rem;
    }


}
    


   