html {
    font-size: 1rem;
  }

.teko{
    font-family: 'Teko', sans-serif!important;
}

.popins{
    font-family: 'Poppins', sans-serif;
}

.estrada-header{
    margin-bottom: 1.2rem;
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.estrada-header::before{
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 5rem;
    background-color: #ea6651;
    bottom: -0.5rem;
}

.estrada-color{
    color: #ea6651;
}
.estrada-paragraph{
    font-size: 0.6rem;
    color: rgba(0,0,0,0.6);
}

.astrada-more-link,.astrada-more-link:hover{
    color: #ea6651;
    font-size: 0.7rem;
    text-decoration: none!important;
}

.section-class{
    background-color: white;
    padding-top: 6rem;
}


/* .nav-header { */
    /* transition: 0.5s all ease; */
    /* background-color: blue; */
    /* background-color: #292b3a!important; */
    /* margin-top: 12px; */
    /* width: 100%; */
    /* position: fixed; */
    /* background-color: rgba(0,0,0,0.1); */
    /* z-index: 5; */
  /* } */

  .header-toggle-open{
      background-color: #141625!important;
  }
  .header-toggle-close{
    background-color: transparent;
}
  
.nav-header-toogle {
    transition: 0.5s all ease;
    background-color: #141625;
    /* background-color: #292b3a!important; */
    /* margin-top: 12px; */
    /* width: 100vw; */
    /* position: fixed; */
    /* background-color: rgba(0,0,0,0.1); */
    z-index: 5;
  }
/* .navbar-dark{
    background-color: transparent!important;
    #4c4e5d
    #2c2e3d
    #292b3a
} */


.ham-wrapper {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
}
.line {
    height: 1px;
    position: absolute;
    justify-content: center;
    transition: all cubic-bezier(0.26, -0.1, 0.27, 1.55) 0.35s;
    background-color: white;
}

.ham-wrapper.icon-open .top-ham{
    top: 18%;
    width: 100%;
}
.ham-wrapper.icon-open .mid-ham{
    top: 48%;
    width: 80%;
    justify-content: center;
}
.ham-wrapper.icon-open .bot-ham{
    top: 78%;
    width: 100%;
}

.ham-wrapper.icon-close .top-ham{
    transform: rotate(45deg);
    top: 48%;
    width: 100%;
}
.ham-wrapper.icon-close .mid-ham{
    width: 0%;
}
.ham-wrapper.icon-close .bot-ham{
    transform: rotate(-45deg);
    top: 48%;
    width: 100%;
}

button#ham-btn:focus {
    /* border: transparent; */
    /* border-color: transparent; */
    outline-color: transparent;
}
button#ham-btn {
    /* outline: none; */
    /* outline-color: transparent; */
    border: none;
}
.nav-hover{
    
    position: relative!important;
  
    font-size: 22px;
    letter-spacing: 0.1em;
}
.nav-hover-white{
    color: white!important;
}
.nav-hover::before{
    animation: nav-hover-out 0.2s ease-in-out;
    animation-duration: 200ms;
    transform-origin: left;
    position: absolute!important;
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    visibility: hidden;
}


.nav-hover:hover::before,.navigation-selected::before {
    transform-origin: left;
    animation: nav-hover-in 0.3s ease-in-out;
    position: absolute!important;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #ea6651;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    visibility: visible;
}
.nav-hover:hover,.navigation-selected{
    transition: 0.1s all ease;
    color: #ea6651!important;
}

@keyframes nav-hover-out{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}

@keyframes nav-hover-in{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.hero-page-background{
    position: relative;
    background-image: url('../assets/Images/bg-94.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-page-content {
    color: white;
    /* height: 100vh; */
    /* width: 100%; */
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
}

.hero-large-text{
    font-size: 6rem;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.hero-small-text{
    font-size: 0.7rem;
    animation-delay: 0.5s;
    animation-duration: 0.3s;
}
.hero-page-content span{
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}
.hero-page-button{
    animation-delay: 1.2s;
    animation-duration: 1s;
    border-color: #ea6651;
    border-width: 2px;
}
.hero-page-button:hover{
    background-color: #ea6651;
    border-color: #ea6651;
    color: white;
}

.about{
    width: 100%;
}

.about-studio-para{
    font-size: 0.9em;
}


#reveal-image-wrapper{
    position: relative;
    /* float: right; */
}

.about-image{
    right: 0;
    /* float: right; */
    position: absolute;
    height: 20rem;
    width: 17rem;
    background: #000;
    /* transform: scaleX(0); */
    transform-origin: top;
    animation: reveal .5s ease-in-out forwards;
    /* transition-delay: 1s; */
}
.about-image::before{
    position: absolute;
    /* text-align: center; */
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height:100%;
    background: #ea6651;
    z-index: 1;
    animation: reveal 0.5s reverse forwards;
    animation-delay: .5s;
    transform-origin: bottom;
}
.about-image img{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    /* height: 20rem;
    width: 17rem; */
  
}
@keyframes reveal{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

.misc h1{
    font-weight: 400;
}
.misc-heading{
    font-size: 1.4rem;
}
.misc-flipper{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.misc-flipper-wrap{
    /* width: 200px; */
  height: 400px;
  perspective: 600px;
}

.misc-flipper:hover{
    transition: 1s all ease;
    transform: rotateY(180deg);
}
.misc-flipper:hover .misc-card-another{
    transition: 1s all ease;
  
}
/* .misc-card:hover {
    transition: 1s all ease;
    transform: rotateY(180deg);
} */

/* .misc-card:hover  .misc-card-another{
    transition: 1s all ease;
    transform: rotateY(180deg);
    z-index: 5;
} */
.misc-card {
    transform-style: preserve-3d;
    position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background: peachpuff;
}
.misc-card-content{
    transform: translateZ(35px);
}
.misc-card-another {
    transform-style: preserve-3d;
    position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
 
  background: rgb(230, 114, 13);
  transform: rotateY( 180deg );
}

.work-nav ul{
    float: right;
}
.work-nav li{
    display: inline-block;
}

.work-nav button{
    /* padding: .5rem .2rem; */
    /* text-decoration: none; */
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    /* color: rgba(0,0,0,0.6)!important; */
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
button.nav-hover:focus {
    outline: none;
}
.nav-hover-grey{
   
    color: rgba(0,0,0,0.6)!important;
}
.grid-item{
    /* margin-bottom: 20px; */
}

.grid-item,.grid-sizer{
    margin-bottom: 25px;
    width: calc(33.33% - 17px);
    float: left;
}
.work-img-wrapper img{
    display: block;
    width: 100%;
    height: auto;
}


.different-roll-up{
    font-size: 1.6rem;
}

.different-para{
    letter-spacing: 0.05rem;
    font-size: 0.5rem;
    font-weight: 300;
    color: rgba(0,0,0,0.7);
    
}


.team-image-wrapper{
    position: relative;
    height: 600px;
    width: 100%;
}
.team-image{
    position: absolute;
    background-image: url('../assets/Images/bg-97.jpg');
    /* background-attachment: fixed; */
    background-position: center;    
    background-size: cover;
    height: 600px;
    width: 100%;
  
}

.team-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.team-large-text{
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}
.team-small-text{
    font-size: 0.6rem;
    color: white;
}
/* .hero-page-content span{
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}
.hero-page-button{
    border-color: #ea6651;
    border-width: 2px;
}
.hero-page-button:hover{
    background-color: #ea6651;
    border-color: #ea6651;
    color: white;
} */

.news-content{
    padding-left: 1.5rem;
    
}
.news{
    margin-bottom: 20rem;
}
.news-image img{
    width: 100%;
    margin-bottom: 1rem;
}

.news-image h3{
    font-size: 1rem;
}

.news-date{
    font-size: 0.35rem;
    letter-spacing: 0.05rem;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
}


.news-content-para::before{
    /* margin-top: 1rem; */
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.05);
    content: '';
    bottom: -1rem;
}

.news-content-para{
    position: relative;
    margin-bottom: 2rem;
}

.news-content-para h4{
    font-size: 0.9rem;
}



.estrada-footer{
    position: fixed;
    z-index: -1;
    height: fit-content;
    width: 100%;
    bottom: 0;


}

.branches{
    
    /* padding-top: 1rem; */
    background-image: url('../assets/Images/bg-98.jpg');
    background-position: center;
    background-size: cover;
    /* height: 100%; */
    /* background-attachment: fixed; */
    height: fit-content;
    width: 100%;
}

.branches h1{
    padding-top: 2rem;
}

.footer-button:hover{
    /* position: absolute; */
    transform: translateY(-2px);
    background-color: #ea6651;
    color: white;
    border: 1px #ea6651;

}
.footer-button
{   
    margin-top: 2rem ;
    /* position: relative!important; */
    background-color: #ea6651;
    color: white;
    border: 1px #ea6651;
    font-size: 0.8rem;
}

.footer-card h3 {
    /* margin-top: 2rem; */
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-para {
    font-size: .5rem;
    color: rgba(255,255,255,0.5);
    letter-spacing: 0.05rem;
}


.footer-upper-pre::before{
    position: absolute;
    bottom: -1rem;
    height: 1px;
    width: 25%;
    /* width: 100%; */
    content: '';
    background-color: #ea6651;
}
.footer-upper-pre{
    position: relative;
    margin-bottom: 2rem;
}

.footer-content::before{
    position: absolute;
    bottom: -1rem;
    height: 1px;
    width: 100%;
    /* width: 100%; */
    content: '';
    background-color: rgba(255,255,255,0.1);
}
.footer-content{
    position: relative;
    margin-bottom: 2rem;
    /* padding-bottom: 3rem; */
}

.rights{
    font-size: 0.5rem;
    color: rgba(255,255,255,0.5);
    margin-top: 0.5rem;
}

.socialmedia-list li {
    /* position: relative; */
  /* color: white; */
  margin-left: 0.5rem;
    list-style-type: none;
    display: inline-block;
  }

  .socialmedia-list li:hover{
  /* position: absolute; */
  transform: translateY(-1px);
    list-style-type: none;
    display: inline-block;
  }


  .socialmedia-list li a{
    color: rgba(255,255,255,0.5);
}
.socialmedia-list li a:hover{
   
    color: #ea6651;
}

.social-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}